.form-control {
  min-width: 472px;
  margin-left: 267px;
}

label,
legend {
  margin-left: -1%;
  color: #ffffff;
}

form {
  margin-left: 1%;
}

.btn.btn-primary {
  margin-right: 7%;
}

.ten.columns.flex-container {
  margin-right: 9%;
}
/* li.BAMAZON.flex-active-slide{
    margin-left: 1.35%;
} */

/* cite.KOLLAB, cite.Dragon.Ball.Universe.Trivia{
    margin-right: 5%;
}

cite.BAMAZON{
    margin-right: 7%;
} */

/* i#BAMAZON{
    margin-left: 13%;
} */

/* .flex-control-nav{
    margin-left: -1.4999%;
} */

.flex-control-paging li a {
  background-color: #95a3a3;
}

.flex-control-paging li a.flex-active {
  background-color: #11abb0;
}
